// bootstrap overrides

$container-max-widths: (
  xs: 377px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1140px,
  xl: 1440px
);